/* GLOBAL FORMATTING */

html {
  overflow-x: hidden!important;
}

I {
  text-shadow: 0px 0px 7px rgb(0,0,0);
  color: #ffffff;
  height: 2rem;
  font-size: 1.5rem;
  margin: 1rem 2rem;
}

main {
  margin-bottom: 25px;
  overflow-x: hidden!important;
}

body {
  height: 100%;
  font-size: 15px!important;
  font-family: ABeeZee, sans-serif;
  font-family: ABeeZee, sans-serif;
  color: var(--black);
  --theme1: #f7f7f7;
  --theme2: #d2d2d2;
  background-color: var(--theme1);
  overflow-x: hidden!important;
}

footer {  
  z-index: 100!IMPORTANT;
  padding: .5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -10px 15px rgba(33,37,41,0.25);
  color: var(--black);
  background-color: rgba(9,10,10,0.9);
  backdrop-filter: blur(5px);
}

footer, a {
  color: rgba(255,255,255,0.5);
  font-weight: 400;
}

.app-icon-x {
  margin: .05REM calc(.5REM + .25vw);
  padding: .5rem;
  width: 1.75REM;
  box-shadow: 0px 0px 7px rgba(33,37,41,0.3);
}

.brandname_dark {
  height: calc(2.375rem + 2.75vw);
  margin-top: 2.5rem;
  margin-bottom: 1REM;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.h1, h1 {
  font-size: calc(2.375rem + 1.5vw);
}

.rainbow-gradient {
  background: linear-gradient(-45deg, #ff2ce3 0%, #ff7e3e 20%, #5eff50 40%, #3bffff 60%, #bc56ff 80%, #ff43e6 100%);
  transition: gradient 500ms ease-in-out, margin 500ms ease-out;
  -webkit-text-size-adjust: 100%;
  animation: gradient 5s ease infinite;
}

#border__rainbow {
  width: 120%;
  margin-left: -25PX;
  z-index: -99!IMPORTANT;
  opacity: 1!IMPORTANT;
  height: 1px;
}

/* NAVBAR */

#icon__navbarx {
  margin: .05REM calc(.5REM + .25vw);
  padding: .5rem;
  width: 1.75REM;
  box-shadow: 0px 0px 7px rgba(33,37,41,0.3);
}

.navbar-brand {
  color: white;
  margin: 0;
}

.icon-x {
  margin: .05REM calc(.5REM + .25vw);
  padding: .5rem;
  width: 1.75REM;
  box-shadow: 0px 0px 7px rgba(33,37,41,0.3);
}

.navbar-light .navbar-toggler {
  color: rgba(255,255,255,0.55);
  border-color: rgba(255,255,255,0);
  box-shadow: none!important;
}

.navbar-toggler:focus {
  color: rgba(255,255,255,0);
  text-decoration: none;
  outline: 0;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.nav-item {
  margin: 0 calc(2rem + .5vw);
  /*color: white;*/
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,0.55);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,0.7);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(255,255,255,0.9);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../../assets/img/menu-icon-white.svg");
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-brand {
  color: white;
  margin: 0;
}

.navbar {
  box-shadow: 0px 0px 12px rgba(33,37,41,0.5);
  color: white!important;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.75);
  padding: 0;
  background-color: rgba(9,10,10,0.9);
  backdrop-filter: blur(5px);
  border-radius: 0 0 1rem;
}

/* SPLASH MAIN */

#brand__splash {
  height: calc(2.375rem + 2.75vw);
  margin-top: 2.5rem;
  margin-bottom: 1REM;
}

#h__mobileapp {
  padding-top: 1rem;
  line-height: 1.5;
  opacity: .5;
}

#h__slogan {
  line-height: 2;
  font-family: ABeeZee, sans-serif;
}

#h__comingsoon {
  opacity: .5;
  line-height: 2;
  font-family: ABeeZee, sans-serif;
}

#titleCol {
  margin-top: 2.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

#splash {
  z-index: 0!important;
}

#splashFrame {
  z-index: 999;
  margin-bottom: 0;
  padding-bottom: 0;
}

.pcards {
  overflow: visible;
  transform-origin: left;
}

#pcard-2 {
  transform: scALE(.85)!important;
}

#storeFrame {
  border-radius: .45rem;
  background-color: var(--bs-body-bg);
}

#storeFrame__content {
  border-radius: .45rem;background-color: var(--bs-body-bg);
}

.h_mobileapp {
  line-height: 1.5;
  font-family: ABeeZee, sans-serif;
}

.playstore-button {
  margin: 0rem;
  height: calc(2.5rem + .75vw);
}

.button-frame {
  margin: 2rem;
  border-radius: .5rem;
  padding: 2px;
}

.storeFrame {
  z-index: -10!important;
  box-shadow: 0px 0px 12px rgba(33,37,41,0.25);
  margin: 2rem;
  border-radius: .5rem;
  padding: 1px;
}

@media (max-width:991px) {
  .appcardCol {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: -5!important;
    user-select: none!important;
  }
}

@media (max-width:991px) {
  .appcardCol {
    user-select: none!important;
    margin-left: 2.5rem;
    margin-top: -10rem!important;
    transform: scale(.65)!important;
  }
}

@media (min-width:992px) {
  .appcardCol {
    margin-top: 5rem;
  }
}

.appcardCol {
  transition: all 500ms ease;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.storeBtn {
  transition: all 750ms ease;
  border-radius: .34rem;
  padding: 0rem!important;
  margin: 1rem 1rem!important;
}

/* SUPPORT PAGE */

#section__support {
  margin-top: calc(7.5rem + 2vw);
}


#btn__support {
  box-shadow: 0px 10px 7px rgba(33,37,41,0.15);
  padding: 40px 50px;
  border-radius: .45rem;max-height: 15px;
  background-color: #ffffff;
  margin-bottom: 10rem;
}

#brand__splash--medium {
  height: calc(2.375rem + 2.75vw);
  margin-top: 2.5rem;
  margin-bottom: 1REM;
}

#span__support {
  margin: 3rem!important;
  color: black;
}


#btn-email {
  box-shadow: 0px 10px 7px rgba(33,37,41,0.15);
  padding: 40px 50px;border-radius: .45rem;max-height: 15px;background-color: #ffffff;
}

/* CARD FORMATTING */

#container__cards {
}

:root {
  --card1: #e1e1e1;
  --card2: #d2d2d2;
  --charizardfront: url(../../assets/img/app_screen_home.png);
  --mewtwofront: url(../../assets/img/app_screen_log.png);
}

.pcards.pcard-1 {
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .pcard-xl {
    transition: all 500ms ease-out;
    width: 71.5vw;
    max-width: 357.5px;
    height: 100vw;
    max-height: 500px;
  }
}

.pcard.charizard {
  --color1: var(--charizard1);
  --color2: var(--charizard2);
  --front: var(--charizardfront);
}

.pcard.mewtwo {
  --color1: var(--mewtwo1);
  --color2: var(--mewtwo2);
  --front: var(--mewtwofront);
}

.pcard.active:after, .pcard:hover:after {
  filter: brightness(.25) contrast(.25);
  opacity: 1;
}

.pcard.active, .pcard:hover {
  -webkit-animation: none;
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.pcard.active:before, .pcard:hover:before {
  -webkit-animation: none;
  animation: none;
  background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.pcard.active:before, .pcard:hover:before, .pcard.active:after, .pcard:hover:after {
  -webkit-animation: none;
  animation: none;
  transition: none;
}

.pcard.animated {
  transition: none;
  -webkit-animation: holopcard 12s ease 0s 1;
  animation: holopcard 12s ease 0s 1;
}

.pcard.animated:before {
  transition: none;
  -webkit-animation: holoGradient 12s ease 0s 1;
  animation: holoGradient 12s ease 0s 1;
}

.pcard.animated:after {
  transition: none;
  -webkit-animation: holoSparkle 12s ease 0s 1;
  animation: holoSparkle 12s ease 0s 1;
}

.pdemo, .pcards {
  display: flex!important;
  flex-direction: column!important;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}

@media screen and (min-width: 678px) {
  .pcards {
    flex-direction: row;
  }
}

.pcards.pcard-2 {
  opacity: .75;
  margin-top: calc(-5em + -0vw);
  margin-left: calc(-12em + 5vw);
}

.pcards.pcard-1 {
  z-index: 5;
}

.pcard {
  max-width: 375px;
  width: 375px;
  max-height: 785px;
  height: 785px;
  position: relative;
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border-radius: .75REM;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}

.pcard:hover {
  box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.pcard.charizard {
  --color1: var(--card1);
  --color2: var(--card1);
}

.pcard.mewtwo {
  --color1: var(--theme1);
  --color2: var(--theme1);
  --front: var(--mewtwofront);
}

.pcard:before, .pcard:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.05;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.pcard:after {
  opacity: 1;
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(.5) contrast(.5);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}

.pcard.active:after, .pcard:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}

.pcard.active, .pcard:hover {
  -webkit-animation: none;
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.pcard.active:before, .pcard:hover:before {
  -webkit-animation: none;
  animation: none;
  background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.2) contrast(.5);
  transition: none;
}

.pcard.active:before, .pcard:hover:before, .pcard.active:after, .pcard:hover:after {
  -webkit-animation: none;
  animation: none;
  transition: none;
}

.pcard.animated {
  transition: none;
  -webkit-animation: holopcard 12s ease 0s 1;
  animation: holopcard 12s ease 0s 1;
}

.pcard.animated:before {
  transition: none;
  -webkit-animation: holoGradient 12s ease 0s 1;
  animation: holoGradient 12s ease 0s 1;
}

.pcard.animated:after {
  transition: none;
  -webkit-animation: holoSparkle 12s ease 0s 1;
  animation: holoSparkle 12s ease 0s 1;
}

.pdemo, .pcards {
  display: flex!important;
  flex-direction: column!important;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 678px) {
  .pcards {
    flex-direction: row;
  }
}

.storeBtn:hover {
  transition: all 750ms ease;
  transform: scale(1.25);
  /*box-shadow: 0px 0px 12px rgba(33,37,41,0.25);*/
}

.storeBtn:visited {
  transition: all 750ms ease;
  transform: scale(1.25);
  /*box-shadow: 0px 0px 12px rgba(33,37,41,0.25);*/
}

.storeBtn:active {
  transition: all 750ms ease;
  transform: scale(1.25);
  /*box-shadow: 0px 0px 12px rgba(33,37,41,0.25);*/
}

.storeBtn:focus {
  transition: all 750ms ease;
  transform: scale(1.25);
  /*box-shadow: 0px 0px 12px rgba(33,37,41,0.25);*/
}



